* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

body > div {
  margin: 5% auto 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 50px;
  font-weight: 600;
  line-height: 1.6;
  cursor: pointer;
  max-width: 300px;
  min-width: 140px;
  text-align: center;
  transition: opacity 0.2s linear;
}

.btn + .btn {
  margin-left: 18px;
}

.btn:hover {
  opacity: 0.7;
}

.btn--disabled {
  opacity: 0.5 !important;
  cursor: default;
}

.btn--success {
  background-color: #71be34;
}

.btn--warning {
  background-color: #ffb702;
}

.btn--error {
  background-color: #ff623d;
}

.btn--size-l {
  font-size: 16px;
  padding: 16px 32px;
}

.btn--size-s {
  font-size: 12px;
  padding: 8px 22px;
}